* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #1f2937;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 400px;
    padding-left: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    color: #f9faf8;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;

}

.hero-text {
    width: 450px;
    height: 200px;
}


.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;

}

/* .hero-img {
    width: 450px;
    height: 200px;
} */

.hero-section img {
    width: 520px;
    height: 250px;
    border-radius: 10px;
}



.hero-section .btn {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color: #fff;
    margin-top: 10px;
    /* font-weight: 700; */
    cursor: pointer;
    font-size: 18px;
}

.hero-section p {
    font-size: 18px;
    color: #e5e7eb;
}




/* Start of the info section */

.info-section {
    padding-top: 30px;
    padding-right: 400px;
    padding-left: 400px;
    padding-bottom: 90px;
    /* border: 2px solid red; */
}

.info-section h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}


.boxes {
    display: flex;
    padding-top: 80px;
    justify-content: space-evenly;
}

.samples {
    max-width:3700px;
    height: 150px;
    border-radius: 10px;
    border: 7px solid #3882f6;
    /* background-color: red; */
}

.info-section p {
    padding-top: 10px;
    font-size: 18px;
    color: #505050;
}


.qoute {
    background-color: #e5e7eb;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 400px;
    padding-left: 400px;
}


.qoute h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    font-style: italic;
    padding-left: 100px;
}


.qoute h4 {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    padding-right: 55px;
}

/* End of qoute */


.cta-container {
    padding-top: 100px;
    padding-bottom: 150px;
    padding-right: 400px;
    padding-left: 400px;
    color: #e5e7eb;
}

.cta {
    background-color: #3882f6;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-btn {
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color: #fff;
    border: 2px solid #fff;
}

















