* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    max-width: 100%;
    height: 100vh;
    /* background-color: #1f2937; */
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header {
    background-color: #1f2937;
    color: #fff;
    height: 500px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    
}

.nav-links ul {
    display: flex;
    gap: 16px;
}

.nav-links a {
    color: #fff;
    gap: 16px;
}
img {
    width: 100%;
}

.hero-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    width: 400px;

}

.hero-text p {
    margin-bottom: 10px;
}

.hero-section .btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    border: none;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}


.hero-img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}











